(pcfg                 ; stanza header
  (ntString           ; non-terminal type
    (str.++ 0.2)      ; list of 2 items: production and associated probability
    (str.replace 0.1)
    (str.at 0.1)
    (int.to.str 0.1)
    (str.substr 0.5))
  (ntInt
    (+ 0.1)
    (- 0.1)
    (str.len 0.5)
    (str.to.int 0.1)
    (str.indexof 0.2))
  (ntBool
    (str.prefixof 0.3)
    (str.suffixof 0.3)
    (str.contains 0.4)))
